page-login {
   #b1{
    background-color: #D5C82A;
    color: #4A4737;
    font-family: Verdana;
    position:center;
    border-color: #4A4737;
    
   }
    body{
    background-image: url("src/assets/img/bglogin.png");
  
}}
