page-cin-check {

    .fer{
        padding: 30px 130px;
        background: linear-gradient(to right, black , #4A4737, #D5C82A)
      }

    .button-ios-primary {
        /* padding-top: 6%; */
        margin-top: 10%;
    }

    .button-md-primary {
        margin-top: 10%;
    }



}
