page-home {
    #title{
       // background-color: #D5C82A;
       
        font-family: Verdana;
       // margin-right: 0%;
    }
    .fer{
        padding: 10px 130px;
        background: linear-gradient(to right, black , #4A4737, #D5C82A)
      }
}
