page-home {
    background-color: #D5C82A;
    #nav
    {background-color: #D5C82A;}
    
    #b1{
        padding: 10px 10px;
        background-color: #D5C82A;
        color: #4A4737;
        font-family: Verdana;
        margin-right: 0%;
    }
    #b2{
        background-color: #D5C82A;
        color: #4A4737;
        font-family: Verdana;
        margin-right: 0%;
    }
}
