page-passwordcin {
   

        #b1{
            
            background-color: #D5C82A;
            color: #4A4737;
            font-family: Verdana;}
    
        .button-ios-primary {
            /* padding-top: 6%; */
            margin-top: 10%;
        }
    
        .button-md-primary {
            margin-top: 10%;
        }
    
    
    
    
    
}
