page-welcome { background-image: url("src/assets/img/loginn.png");
    #welcome{
       
        background-color:white;
      
        .logo{
           // height: 20%;
            left: 20%;
            top: 0%;
           // position: ;
            //background-size: 400px 100px;
        }
        #b1 
        {
            padding: 14px 130px;
            background-color: #D5C82A;
            color: #4A4737;
            font-family: Verdana;
           position: absolute;
            margin-bottom: 0%;
            margin-left: 0%;
           // background-position: bottom;
        }
        
       
    }
}
